/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "responder";

@import "compass/utilities/sprites";

$icon-arrow-left-spacing: 10px;
$icon-position: 100%;
$icon-layout: smart;
$icon-spacing: 4px !default;


@import "icon/*.png";
@include all-icon-sprites;


@import "partials/base";
@import "partials/slideshow";
@import "partials/fontello";